@media only screen and (min-width: 691px) {


	img#myPic {
		width: 15%;
	}
	/*
	 *
	 * Content
	 *
	 */

	 section#home > div > div.right > div {
	 	margin-top: 1%;
	 }

	 section#contact > div > div > form {
	 	margin: 10px 20px;
	 	/* padding: 25px; */
	 }

	 div#contact1 {
	 	position: absolute;
	 	width: 80%;
	 	top: -70%;
	 	left: 50%;
	 	transform: translate(-50%,0);
	 	padding: 60px 30px 20px 30px;
	 }

	 section#contact > div > div > form > div > input.btn {
	 	width: 50%;
	 }

	 textarea[id="txtMessage"] {
	 	height: 200px;
	 }

	 section#contact > div > div > div > ul > li {
	 	margin-left: 10px;
	 	width: 50px;
	 }


	 .lang {
	 	width: 90%;
	 }


} /* End of media view*/