@media only screen and (min-width: 691px) {
/*
 *
 * Content
 *
 */

 section#home > div > div.right > div {
 	margin-top: 15%;
 }

 section#contact > div > div > form {
 	margin: 10px 50px;
    padding: 25px;
 }

 textarea[id="txtMessage"] {
 	height: 300px;
 }


} /* End of media view*/