@media only screen and (max-width: 600px) {

	 img#myPic {
	 	width: 50%;
	 }

	/*
	 *
	 * Content
	 *
	 */

	 section#home > div > div > div > h1 {
	 	letter-spacing: -3px;
	 }

	 section > div > div > h2.sectionheader {
	 	padding: 15px 0; 
	 }

	 section#portfolio > div.wrapper > div#gallery {
	 	padding-bottom: 10px;
	 }

	 section#portfolio > div.wrapper > div#gallery > div.project {
	 	margin: 0 10px 200px;
	 }

	 div#contact1 {
	 	width: 100%;
	 	padding: 15px 0;
	 }

	 section#contact {
	 	min-height: 20vh;
	 }

	 section#contact > div > div > ul {
	 	text-align: center;
	 }

	 section#contact > div > div > ul > li {
	 	margin-left: 0;
	 }

	 section#contact > div > div > div > ul > li {
	 	margin-bottom: 50px;
	 	width: 50px;
	 }

	 section#contact > div > div > form > div > input.btn {
	 	width: 80%;
	 }
	 section#contact > footer {
	 	line-height: 2;
	 	font-size: 8px;
	 }

	 .lang {
	 	width: 100%;
	 }
}/* End of Viewport */