@media only screen and (min-width: 401px) and (max-width: 960px){

	/*
	 *
	 * General Rules
	 *
	 */

	 /*section {
	 	min-height: 50vh;
	 }*/

	/*
	 *
	 * Content
	 *
	 */

	 section#contact > div > div > form {
	 	margin: 15px;
	 	padding: 15px;
	 }

	 section#contact > div > div > div > ul > li {
	 	margin-bottom: 66px;
	 }
}/*End of View port*/